body {
    font-size: 100%;
    background-color:#000000e6;
    font-family: $font-body;
}

header {
    background-color: #20323b;
    display: flex;
}

header > h1 > i {
    color: #004daa;
    padding-right: 2px;
}

header > h1 {
    padding: 0px 10px;
    color: #fff;
}

h1 {
    font-family: $font-title;
}

footer {
    background-color: rgb(32, 50, 59);;
    color: #fff;
}
