body {
    margin: 0;
    font-size: 100%;
    background-color:#000000e6;
    font-family: $font-body;

    // @media screen and (max-width: 1023px) {
    //     display: inline-block;
    // }
}

header, footer {
    background-image: url('../images/Vanishing-Stripes.svg');
}

header {
    display: flex;
}

h1 {
    font-family: $font-title;
}

header > h1 {
    color: #fff;
    padding: 0px 1em;
}

header > h1 > i {
    color: #004daa;
}

footer {
    background-color: rgb(32, 50, 59);;
    color: #fff;
    text-align: center;
}

