.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(220, 220, 220);
    padding: 2em;

    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.pfp {
    width: 320px;
    height: 320px;
    position: relative;
    overflow: hidden;
    border-radius: 50%; // crops original image into a circle
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    @media screen and (min-width: 1024px) {
        width: 640px;
        height: 640px;
    }

    @media screen and (max-width: 1024px) {
        margin: auto;
    }
}

.picture {
    display: inline;
    margin: 0 auto;
    margin-left: -25%; // centers the image
    height: 100%;   // keeps original dimensions of image to provide use of cropped-circle style
    width: auto;    // keeps original dimensions of image to provide use of cropped-circle style
}

.bio {
    display: flex;
    flex-direction: column;
    background-color: #24232be6;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #fff;
    margin: 30px;
    padding: 2em;

    @media screen and (max-width: 1024px) {
        text-align: center;
    }
}

.bio > h1 { 
    font-size: 42px;
    text-decoration-line: underline;
}

.bio > h3 {
    color: #fff;
}

.bio > p {
    color: #fff;
    line-height: 2;
    
    @media screen and (min-width: 1024px) {
        text-align: justify;
    }
}




