main {
    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.container {
    background-color: rgb(220, 220, 220);
    padding: 2em;
}

.pfp {
    width: 320px;
    height: 320px;
    position: relative;
    overflow: hidden;
    border-radius: 50%; // crops original image into a circle
    @media screen and (min-width: 1024px) {
        width: 640px;
        height: 640px;
    }
}

.picture {
    display: inline;
    margin: 0 auto;
    margin-left: -25%; // centers the image
    height: 100%;
    width: auto;

}

.bio {
    background-color: #24232be6;
    color: #fff;
    margin: 30px;
    padding: 2em;
}

.bio > h1 { 
    font-size: 42px;
    text-decoration-line: underline;
}
.bio > h3 { 

}

.bio > p {
    color: #fff;
    line-height: 2;
}


